@import "tailwindcss";
@import "/public/fonts/WEB/css/satoshi.css";

body {
  background-color: #f7f7ff;
  font-family: "Satoshi-Variable";
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spinner {
  animation: spin 1s linear infinite;
}
